<!--<div style="height: 500px;margin: 50px;">
    <div style="height: 460px;">
        <div style="height: 420px;">
            <div style="height: 380;">
                <div style="height: 340;">
                    <div style="height: 300px;">
                        <div style="height: 260px;">
                            <div style="height: 220px;">
                                <div style="height: 180px;">
                                    <div style="height: 140px;">
                                        <div style="height: 100px;">
                                            <div style="height:60px;">
                                                <div id="div1" style="text-align: center;">Floting bnner text which keeps on rotting</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div id="div" style="margin:50px;"></div>